@using Seafood.Domain.Common.Enum;
@using Seafood.Domain.Common.Extentions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .custom-btn-mdc-button {
            padding: 0;
            font-size: 25px;
            color: #00b67a;
            border-width: 0px;
            background: transparent;
        }
        div.dataTables_wrapper div.dataTables_filter {
            display:none;
        }
    </style>
</head>
<body>
    @Html.AntiForgeryToken()
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                    <h6 class="card-title card-padding pb-0">
                        <i class="icon-title fa fa-users" aria-hidden="true"></i>
                        Quản lý đơn hàng
                    </h6>
                    <div class="box-header-filter container">
                        <div class="row">
                            <div class="col-2">
                                <input type="text" class="form-control" id="filterCode" placeholder="Mã đơn hàng" />
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" id="filterMobile" placeholder="Số điện thoại" />
                            </div>
                            <div class="col-2">
                                <select id="filterStatus" class="form-select" aria-label="Default select example">
                                    @{
                                        <option value="-1">-- Tất cả --</option>
                                        foreach (var item in Enum.GetValues(typeof(StatusOrderEnum)))
                                        {
                                            <option value="@((int)item)"> @StringExtension.GetDescription((Enum)item)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-1">
                                <button onclick="filterTable()" class="mdc-button mdc-button--outlined outlined-button--success mdc-ripple-upgraded">
                                    <i class="material-icons mdc-button__icon">search</i>
                                    Tìm kiếm
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="container-table">
                        <div>
                            <table id="tbl-orders" class="mdl-data-table"></table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        var tbl;
        $(document).ready(function () {
            tbl = $('#tbl-orders').DataTable({
                      autoWidth: true,
                      responsive: true,
                      processing: true,
                      paging: true,
                      serverSide: true,
                      filter: false,
                      orderMulti: false,
                      order: [[1, "asc"]],
                      searching: true,
                      lengthChange: false,
                      ajax: {
                          url: "@Url.Action("GetListOrder", "Order")",
                          type: "POST"
                      },
                      columnDefs: [
                          { targets: 0, visible: false, searchable: false, orderable: false },
                          { targets: 1, width: "15%" },
                          { targets: 2, width: "10%", searchable: false, orderable: false },
                          { targets: 3, width: "10%", searchable: false, orderable: false },
                          { targets: 4, width: "10%", searchable: false, orderable: false },
                          { targets: 5, width: "10%", searchable: false, orderable: false },
                          { targets: 6, width: "10%", searchable: false, orderable: false },
                          { targets: 7, width: "10%", searchable: false, orderable: false },
                          { targets: 8, width: "10%", searchable: false, orderable: false },
                          { targets: 9, width: "10%", searchable: false, orderable: false },
                          { targets: 10, width: "10%", searchable: false, orderable: false },
                          { targets: 11, width: "10%", searchable: false, orderable: false },
                          { targets: 12, width: "10%", searchable: false, orderable: false },
                          { targets: 13, width: "10%", searchable: false, orderable: false },
                          { targets: 14, width: "10%", searchable: false, orderable: false },
                          { targets: 15, width: "10%", searchable: false, orderable: false },
                          { targets: 16, width: "10%", searchable: false, orderable: false },
                      ],
                      columns: [
                          { data: "Id", name: "Id" },
                          { title: "Tên hiển thị", data: "DisplayName", name: "DisplayName" },
                          { title: "Mã đơn hàng", data: "Code", name: "Code" },
                          { title: "Số điện thoại", data: "Mobile", name: "Mobile" },
                          { title: "Trạng thái", data: "Status", name: "Status" },
                          { title: "Sản phẩm", data: "Product", name: "Product" },
                          { title: "Số lượng", data: "Quantity", name: "Quantity" },
                          { title: "Chế biến", data: "ProdProcessingsName", name: "ProdProcessingsName" },
                          { title: "Giá chế biến", data: "ProdProcessingsPrice", name: "ProdProcessingsPrice" },
                          { title: "Voucher", data: "Voucher", name: "Voucher" },
                          { title: "Tổng giá", data: "TotalPrice", name: "TotalPrice" },
                          { title: "Thời gian đặt", data: "TimeOrder", name: "TimeOrder" },
                          { title: "Thời gian ship", data: "TimeDeliveryStart", name: "TimeDeliveryStart" },
                          { title: "Dự tính giao hàng", data: "EstimateDeliveryTime", name: "EstimateDeliveryTime" },
                          { title: "Giao hàng thành công", data: "SuccessfulDeliveryTime", name: "SuccessfulDeliveryTime" },
                          { title: "Thời gian hủy", data: "CancellationTime", name: "CancellationTime" },
                          { title: "Thời gian cập nhật", data: "UpdatedAt", name: "UpdatedAt" },
                          {
                              title: "Thao tác", searchable: false, orderable: false, render: function (data, type, full, meta) {
                                  var render = '';
                                  render += '<button type="button" class="custom-btn-mdc-button" style="" title="Xử lý" onclick="handleWithOrders(\'' + full.Id + '\')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
                                  return render;
                              }
                          }
                      ]
                  });
        })

        function filterTable() {
            tbl.columns(2).search($("#filterCode").val())
                .columns(3).search($("#filterMobile").val())
                .columns(4).search(document.getElementById("filterStatus").value)
                .draw();
        }

        function handleWithOrders(idTbl) {

        }
    </script>
</body>
</html>



